@{
    Layout = null;
}
@model TMT_Documents
@switch (ViewBag.DocumentType)
{
    case 0:
        <div class="header">
            <i class="folder icon"></i>
            @(Model == null ? "新建文件夹" : "编辑文件夹")
        </div>
        <div class="content">
            <div class="ui form mini" id="document_add">
                <input type="hidden" id="PathID" value="@ViewBag.PathID">
                <input type="hidden" id="DocumentType" value="@ViewBag.DocumentType">
                <input type="hidden" id="DocumentID" value="@Model?.DocumentID">
                <div class="ui fields">
                    <div class="field wide eight">
                        @if (Model == null || !Model.IsPublic)
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsPublic">
                                <label>公开</label>
                            </div>
                        }
                        else
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsPublic" checked="">
                                <label>公开</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="field">
                    <label>文件夹名称</label>
                    <input type="text" id="DocumentName" value="@Model?.DocumentName">
                </div>
            </div>
        </div>
        break;
    case 1:
        <div class="header">
            <i class="file alternate outline icon"></i>
            @(Model == null ? "新建文档" : "编辑文档")
        </div>
        <div class="content">
            <div class="ui form mini" id="document_add">
                <input type="hidden" id="PathID" value="@ViewBag.PathID">
                <input type="hidden" id="DocumentType" value="@ViewBag.DocumentType">
                <input type="hidden" id="DocumentID" value="@Model?.DocumentID">
                <div class="ui fields inline">
                    <div class="field wide eight">
                        @if (Model == null || !Model.IsPublic)
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsPublic">
                                <label>公开</label>
                            </div>
                        }
                        else
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsPublic" checked="">
                                <label>公开</label>
                            </div>
                        }
                    </div>
                    <div class="field wide eight">
                        @if (Model == null || !Model.IsShare)
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsShare">
                                <label>分享</label>
                            </div>
                        }
                        else
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsShare" checked="">
                                <label>分享</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="field">
                    <label>文档标题</label>
                    <input type="text" id="DocumentName" value="@Model?.DocumentName">
                </div>
            </div>
        </div>
        break;
    case 2:
        <div class="header">
            <i class="paperclip icon"></i>
            @(Model == null ? "新建附件" : "编辑附件")
        </div>
        <div class="content">
            <div class="ui form mini" id="document_add">
                <input type="hidden" id="PathID" value="@ViewBag.PathID">
                <input type="hidden" id="DocumentType" value="@ViewBag.DocumentType">
                <input type="hidden" id="DocumentID" value="@Model?.DocumentID">
                <div class="ui fields inline">
                    <div class="field wide eight">
                        @if (Model == null || !Model.IsPublic)
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsPublic">
                                <label>公开</label>
                            </div>
                        }
                        else
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsPublic" checked="">
                                <label>公开</label>
                            </div>
                        }
                    </div>
                    <div class="field wide eight">
                        @if (Model == null || !Model.IsShare)
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsShare">
                                <label>分享</label>
                            </div>
                        }
                        else
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsShare" checked="">
                                <label>分享</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="field">
                    <label>附件名称</label>
                    <input type="text" id="DocumentName" value="@Model?.DocumentName">
                </div>
                <div class="field">
                    <label>选择附件</label>
                    <div class="ui action input">
                        <input type="text" readonly="readonly">
                        <input type="file" id="File" style="display:none;" onchange="model_action.sf()" />
                        <button class="ui icon button" onclick="model_action.up()">
                            <i class="upload icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        break;
    case 3:
        <div class="header">
            <i class="linkify icon"></i>
            @(Model == null ? "新建链接" : "编辑链接")
        </div>
        <div class="content">
            <div class="ui form mini" id="document_add">
                <input type="hidden" id="PathID" value="@ViewBag.PathID">
                <input type="hidden" id="DocumentType" value="@ViewBag.DocumentType">
                <input type="hidden" id="DocumentID" value="@Model?.DocumentID">
                <div class="ui fields">
                    <div class="field wide eight">
                        @if (Model == null || !Model.IsPublic)
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsPublic">
                                <label>公开</label>
                            </div>
                        }
                        else
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="IsPublic" checked="">
                                <label>公开</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="field">
                    <label>链接名称</label>
                    <input type="text" id="DocumentName" value="@Model?.DocumentName">
                </div>
                <div class="field">
                    <label>链接Url</label>
                    <input type="text" id="Content" value="@Model?.Content">
                </div>
            </div>
        </div>
        break;
}
<script>
    var model_action = {
        save: function () {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                var data = $('#document_add').getdata();
                ajax.post('/Document/Add', data, function () {
                    if (target) { $(target).load_show(); };
                }, function (success, data) {
                    if (target) {
                        $(target).load_hide();
                    };
                    if (success && data.Success) {
                        page_action.reload();
                    };
                });
            }
        },
        up: function () {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                $(target).prev().click();
            }
        },
        sf: function () {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                var name = target.files[0].name;
                $(target).prev().val(name);
                $('#document_add #DocumentName').val(name);
            }
        }
    };
</script>
<div class="actions">
    <button class="ui button green small" onclick="model_action.save()">保存</button>
    <button class="ui button cancel black small">取消</button>
</div>