@{
    ViewData["Title"] = "项目管理";
}
@model Setting.ProjectsManagementList
<div class="searchbox">
    <div class="ui form tiny">
        <div class="inline fields">
            <div class="field">
                <label>关键字</label>
                <div class="ui input clearable">
                    <input type="text" id="KeyWord" value="@Model.KeyWord">
                    <i class="close icon"></i>
                </div>
            </div>
            <div class="field">
                <button class="ui button orange icon" id="search"><i class="icon search"></i></button>
            </div>
            <div class="field right">
                <div class="ui floating teal labeled icon button tiny" onclick="modal.load('/Setting/Projects_Add',650)">
                    <i class="plus icon"></i>新增
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Context_Scroll" style="padding:3px;">
    <div class="ui styled fluid accordion">
        @foreach (var item in Model.List)
        {
            <div class="title">
                <i class="dropdown icon"></i>
                @item.ProjectName
            </div>
            <div class="content">
                <div class="ui form mini">
                    <div class="field">
                        <label>状态</label>
                        @if (item.State == 0)
                        {
                            <div class="ui green horizontal label mini">正常</div>
                        }
                        else
                        {
                            <div class="ui red horizontal label mini">归档</div>
                        }
                    </div>
                    <div class="field">
                        <label>用户</label>
                        @foreach (var U in item.D_Users)
                        {
                            <div class="ui image label mini">
                                <img src="@U.Avatar">
                                @U.UserName
                            </div>
                        }
                    </div>
                    <div class="field">
                        <label>描述</label>
                        @item.Description
                    </div>
                    <div class="field">
                        <div class="ui primary buttons icon mini">
                            <button class="ui button" onclick="modal.load('/Setting/Projects_Add?ProjectID=@item.ProjectID',650)"><i class="edit icon"></i></button>
                            <button class="ui button" onclick="modal.load('/Setting/Projects_Module_Set?ProjectID=@item.ProjectID',450)"><i class="settings icon"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    var page = {
        init: () => {
            $('.ui.accordion').accordion();
        }
    };
    page.init();
</script>
