@{
    Layout = null;
}
@model TMT_Roles
<div class="header">
    <i class="user tag icon"></i>
    @(Model == null ? "新增角色" : "编辑角色")
</div>
<div class="content">
    <div class="ui form tiny">
        <input type="hidden" id="RoleID" value="@Model?.RoleID">
        <div class="inline fields">
            <div class="field">
                <label>角色名称</label>
                <input type="text" id="RoleName" value="@Model?.RoleName">
            </div>
            @if (Model != null)
            {
                <div class="field">
                    <i class="exclamation circle icon orange"></i><span class="ui orange text">调整权限后，相关角色的账号必须重新登录才会生效。</span>
                </div>
            }
        </div>
    </div>
    <div class="ui form mini" style="float:left;font-size:12px;">
        @{
            var Auths = string.IsNullOrWhiteSpace(Model?.Auths) ? new int[] { } : Array.ConvertAll(Model.Auths.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries), c => int.Parse(c));
        }
        @foreach (var T1 in Web.Command.AuthHelp.Get())
        {
            <div class="field left_clear">
                <div class="grouped fields">
                    <div class="header" style="font-weight:bold;">@T1.Tag</div>
                    @foreach (var T2 in T1.Auths)
                    {
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" value="@T2.Value" @(Auths.Contains(T2.Value) ? "checked=\"\"" : "")>
                                <label>@T2.Key</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<script>
    var modal_action = {
        save: function () {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                var objs = $(target).parent().parent().children('.content').find('input:checkbox:checked');
                var auths = new Array();
                for (var i = 0; i < objs.length; i++) {
                    auths.push(Number($(objs[i]).val()));
                }
                var data = $(target).parent().parent().children('.content').find('.ui.form:first-child').getdata();
                data.Auths = auths;
                ajax.post('/Setting/Roles_Add_Save', data, function () {
                    $(target).load_show();
                }, function (success, data) {
                    $(target).load_hide();
                    if (success && data.Success) {
                        window.location.reload();
                    }
                });
            }
        }
    };
</script>
<div class="actions" style="clear:left;">
    <button class="ui button green" onclick="modal_action.save()">保存</button>
    <button class="ui button cancel black">取消</button>
</div>