@{
    ViewData["Title"] = "任务管理";
}
@model Web.ParamModels.Tasks.Tasks_Index
<div class="searchbox">
    <div class="ui form tiny">
        <div class="inline fields">
            <div class="field">
                <label>关键字</label>
                <div class="ui input clearable">
                    <input type="text" id="KeyWord" value="@Model.KeyWord">
                    <i class="close icon"></i>
                </div>
            </div>
            <div class="field">
                <label>模块</label>
                <div class="ui selection dropdown clearable" style="min-width:150px !important;">
                    <input type="hidden" id="ModuleID" value="@Model.ModuleID">
                    <div class="default text"></div>
                    <div class="menu">
                        @foreach (var item in G.NowProject.Modules)
                        {
                            <div class="item" data-value="@item.ModuleID">@item.ModuleName</div>
                        }
                    </div>
                </div>
            </div>
            <div class="field">
                <label>关联</label>
                <div class="ui selection dropdown clearable" style="min-width:120px !important;">
                    <input type="hidden" id="Tag" value="@Model.Tag">
                    <div class="default text"></div>
                    <div class="menu">
                        <div class="item" data-value="1">由我创建</div>
                        <div class="item" data-value="2">由我执行</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>状态</label>
                <SelectEnums Fluid="false" ID="Status" Default="@(Model.Status.HasValue?((int)Model.Status).ToString():"")" Width="100" Enum="typeof(DBEnums.TasksStatus)"></SelectEnums>
            </div>
            <div class="field">
                <label>类型</label>
                <SelectEnums Fluid="false" ID="MType" Default="@(Model.MType.HasValue?((int)Model.MType).ToString():"")" Width="100" Enum="typeof(DBEnums.MType)"></SelectEnums>
            </div>
            <div class="field">
                <button class="ui button orange icon" id="search"><i class="icon search"></i></button>
            </div>
            <div class="field right">
                <a class="ui floating teal labeled icon button tiny" href="/Tasks/Add">
                    <i class="plus icon"></i>新增
                </a>
            </div>
        </div>
    </div>
</div>
<div class="Context_Scroll">
    <div class="Context_Scroll">
        <table class="ui table very compact selectable very basic unstackable fixed single line">
            <thead>
                <tr>
                    <th>标题</th>
                    <th width="50">状态</th>
                    <th width="50">类型</th>
                    <th width="150">模块</th>
                    <th width="110">创建人</th>
                    <th width="110">负责人</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                <tr>
                    <td>
                        @switch (item.EmergencyLevel)
                        {
                            case 1:
                                <i class="exclamation icon green"></i> break;
                            case 2:
                                <i class="exclamation icon olive"></i> break;
                            case 3:
                                <i class="exclamation icon yellow"></i> break;
                            case 4:
                                <i class="exclamation icon orange"></i> break;
                            case 5:
                                <i class="exclamation icon red"></i>break;
                        }
                        <div class="ui mini label version_lable basic">
                            @item.NowVersion
                        </div>
                        <a style="color:rgba(0,0,0,.8);" href="/Tasks/View?TaskID=@item.TaskID">@item.Title</a>
                    </td>
                    <td>
                        @switch (item.Status)
                        {
                            case DBEnums.TasksStatus.稿件:
                                <div class="ui tiny label orange basic horizontal">
                                    @item.Status
                                </div>
                                break;
                            case DBEnums.TasksStatus.进行:
                                <div class="ui tiny label teal basic horizontal">
                                    @item.Status
                                </div>
                                break;
                            case DBEnums.TasksStatus.完成:
                                <div class="ui tiny label green basic horizontal">
                                    @item.Status
                                </div>
                                break;
                            case DBEnums.TasksStatus.终止:
                                <div class="ui tiny label red basic horizontal">
                                    @item.Status
                                </div>
                                break;
                        }
                    </td>
                    <td>
                        <div class="ui mini label basic weight_normal">
                            @item.MType
                        </div>
                    </td>
                    <td>
                        @item.Module.ModuleName
                    </td>
                    <td>
                        <div class="ui image label mini weight_normal">
                            <img src="@item.CreateUser.Avatar"> @item.CreateUser.UserName
                        </div>
                    </td>
                    <td>
                        <div class="ui image label mini weight_normal">
                            <img src="@item.ExecutorUser.Avatar"> @item.ExecutorUser.UserName
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<Paging Page="Model.Page" PageSize="Model.PageSize" TotalCount="Model.TotalCount"></Paging>