@{
    Layout = null;
}
@model TMT_Tasks
<div class="header">
    <i class="tasks icon"></i>
    @Model.Title
</div>
<div class="content scrolling edit">
    <div class="context_con">
        @Html.Raw(Model.Detailes.FirstOrDefault(c => c.Version == Model.NowVersion).Content)
    </div>
</div>
<script>
    var modal_action = {
        edit_obj: null,
        init: () => {
            modal_action.init_edit();
            $('#task_setVersion').dropdown({
                onChange: function (value, text, $choice) {
                    var id = $choice.parents('.dropdown').data('value');
                    ajax.post('/Tasks/LoadTask', { TaskID: id, Version: value }, () => { }, (success, data) => {
                        if (success && data.Success) {
                            $choice.parents('.ui.modal').find('.context_con').html(data.Result);
                            modal_action.init_edit();
                        }
                    });
                }
            });
        },
        init_edit: () => {
            modal_action.edit_obj = new editor('.context_con', {
                edit: false,
                upload: {
                    url: '/Home/UPload',
                    success: (result) => { },
                    error: (error) => { }
                }
            });
        }
    };
    modal_action.init();
</script>
<div class="actions">
    <div class="ui left floated floating labeled icon dropdown button" id="task_setVersion" data-value="@Model.TaskID">
        <input type="hidden" value="@Model.NowVersion">
        <i class="code branch icon"></i>
        <span class="text"></span>
        <div class="menu">
            @foreach (var item in Model.Detailes)
            {
                <div class="item" data-value="@item.Version"># @(item.Version)</div>
            }
        </div>
    </div>
    <button class="ui button cancel black small">关闭</button>
</div>