@{
    ViewData["Title"] = Model.Title;
}
@model TMT_Tasks
<link href="~/edit/edit.css" rel="stylesheet" />
<script src="~/edit/edit.js"></script>
<div class="document_body">
    <div class="left">
        <div class="ui top left attached label id">@Model.TaskID</div>
        <span class="title">@Model.Title</span>
        <div class="context_edit">
            @Html.Raw(Model.Detailes.FirstOrDefault(c => c.Version == Model.NowVersion).Content)
        </div>
    </div>
    <div class="right">
        <div class="ui form tiny">
            <div class="field">
                <label>版本</label>
                <div class="ui floating labeled icon dropdown button" id="setVersion" data-value="@Model.TaskID">
                    <input type="hidden" value="@Model.NowVersion">
                    <i class="code branch icon"></i>
                    <span class="text"></span>
                    <div class="menu">
                        @foreach (var item in Model.Detailes)
                        {
                            <div class="item" data-value="@item.Version"># @(item.Version)</div>
                        }
                    </div>
                </div>
            </div>
            <div class="field">
                <label>优先级</label>
                <div class="ui disabled rating" id="EmergencyLevel" data-icon="star" data-rating="@Model.EmergencyLevel" data-max-rating="5"></div>
            </div>
            <div class="field">
                <label>项目</label>
                <div class="ui label basic">
                    <i class="briefcase icon"></i> @G.NowProject.ProjectName
                </div>
            </div>
            <div class="field">
                <label>类型</label>
                <div class="ui label basic">
                    @Model.MType
                </div>
            </div>
            <div class="field">
                <label>模块</label>
                <div class="ui label basic">
                    @Model.Module.ModuleName
                </div>
            </div>
            <div class="field">
                <label>负责人</label>
                <div class="ui image label basic">
                    <img src="@Model.ExecutorUser.Avatar">
                    @Model.ExecutorUser.UserName
                </div>
            </div>
            @if (Web.Test.Teaks.AllowEdit(Model, G.User.UserID))
            {
                <a class="ui tiny blue button" href="/Tasks/Add?TaskID=@Model.TaskID">
                    <i class="edit icon"></i>
                    编辑
                </a>
            }
            @if (Web.Test.Teaks.AllowSubmitAndDelete(Model, G.User.UserID))
            {
                <a class="ui tiny teal button" onclick="page_action.submit(@Model.TaskID)">
                    <i class="share square outline icon"></i>
                    发布
                </a>
                <button class="ui tiny red button" onclick="page_action.delete(@Model.TaskID)">
                    <i class="trash alternate outline icon"></i>
                    删除
                </button>
            }
            @if (Web.Test.Teaks.AllowHandOverAndDone(Model, G.User.UserID))
            {
                <button class="ui tiny brown button" onclick="page_action.handOver(@Model.TaskID)">
                    <i class="random icon"></i>
                    转派
                </button>
                <button class="ui tiny orange button" onclick="page_action.done(@Model.TaskID)">
                    <i class="stamp icon"></i>
                    完成
                </button>
            }
        </div>
        <div class="ui horizontal divider">
            <i class="file alternate icon"></i>
            关联需求
        </div>
        @if (Model.Requirement != null)
        {
            <div class="ui comments mini">
                <div class="comment">
                    <div class="avatar">
                        <img src="@Model.Requirement.CreateUser.Avatar">
                    </div>
                    <div class="content">
                        <span class="author">@Model.Requirement.CreateUser.UserName</span>
                        <div class="text url" style="margin-top:.1em;">
                            <a onclick="page_action.viewrequirement(@Model.RequirementID)"><span>[#@Model.RequirementID]</span>@Model.Requirement.Title</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <span class="ui grey text">无</span>
        }
        <div class="ui horizontal divider">
            <i class="history icon"></i>
            记录
            @if (Web.Test.Teaks.AllowAddLog(Model, G.User.UserID))
            {
                <a class="ui label mini addlog basic" onclick="page_action.addlog(@Model.TaskID)">
                    <i class="plus icon"></i>
                </a>
            }
        </div>
        <div class="ui comments mini">
            @foreach (var item in Model.Logs.OrderBy(c => c.CreateDate))
            {
                <div class="comment">
                    <div class="avatar">
                        <img src="@item.User.Avatar">
                    </div>
                    <div class="content">
                        <span class="author">@item.User.UserName</span>
                        <div class="metadata">
                            <span class="date">@item.CreateDate</span>
                        </div>
                        <div class="text">
                            @Html.Raw(item.Content)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var page_action = {
        init: () => {
            $('#EmergencyLevel').rating({
                onRate: function (value) {
                    $(this).removeClass('green olive yellow orange red');
                    switch (value) {
                        case 1:
                            $(this).addClass('green');
                            break;
                        case 2:
                            $(this).addClass('olive');
                            break;
                        case 3:
                            $(this).addClass('yellow');
                            break;
                        case 4:
                            $(this).addClass('orange');
                            break;
                        case 5:
                            $(this).addClass('red');
                            break;
                    }
                }
            }).rating('set rating', $('#EmergencyLevel').rating('get rating'));
            $('#setVersion').dropdown({
                onChange: function (value, text, $choice) {
                    var id = $choice.parents('.dropdown').data('value');
                    window.location.href = "/Tasks/View?TaskID=" + id + "&Version=" + value;
                }
            });
        },
        submit: (id) => {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                modal.ask('确认发布当前任务吗？', () => {
                    ajax.post('/Tasks/Submit', { TaskID: id }, () => { $(target).load_show(); }, (success, data) => {
                        $(target).load_hide();
                        if (success && data.Success) {
                            window.location.reload();
                        }
                    });
                });
            }
        },
        delete: (id) => {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                modal.ask('确认删除此需求吗？', () => {
                    ajax.post('/Tasks/Delete', { Tasks: id }, () => { $(target).load_show(); }, (success, data) => {
                        $(target).load_hide();
                        if (success && data.Success) {
                            window.location.href = "/Tasks/Index";
                        }
                    });
                });
            }
        },
        handOver: (id) => {
            modal.load('/Tasks/HandOver?TaskID=' + id, 400);
        },
        done: (id) => {
            modal.load('/Tasks/Done?TaskID=' + id, 400);
        },
        addlog: (id) => {
            modal.load('/Tasks/AddLog?TaskID=' + id, 400);
        },
        viewrequirement: (id) => {
            modal.load('/Tasks/ViewRequirement?RequirementID=' + id, null, 'overlay fullscreen doc')
        }
    };
    page_action.init();
</script>