@{
    Layout = null;
}
@model TMT_Requirements
<div class="header">
    <i class="file alternate outline icon"></i>
    新增需求文档
</div>
<div class="content scrolling edit">
    <div class="ui form tiny" style="width: 900px; margin: 0px auto ;margin-top:10px;">
        <div class="inline fields">
            <div class="field">
                <label>优先级</label>
                <div class="ui grey rating" id="EmergencyLevel" data-icon="star" data-rating="@(Model==null?1:Model.EmergencyLevel)" data-max-rating="5"></div>
            </div>
            <div class="field">
                <label>项目</label>
                <div class="ui label basic">
                    <i class="briefcase icon"></i> @G.NowProject.ProjectName
                </div>
            </div>
            <div class="field">
                <label>评审</label>
                <SelectUsers Fluid="false" Width="150" Placeholder="选择评审人" Clearable="false" ID="AuditorUserID" Default="Model?.AuditorUserID"></SelectUsers>
            </div>
            <div class="field">
                <label>模块</label>
                <div class="ui selection dropdown" style="width: 200px;">
                    <input type="hidden" id="ModuleID" value="@Model?.ModuleID">
                    <div class="default text"></div>
                    <div class="menu">
                        @foreach (var item in G.NowProject.Modules)
                        {
                            <div class="item" data-value="@item.ModuleID">@item.ModuleName</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="context_con">
        <input type="hidden" id="RequirementID" value="@Model?.RequirementID" />
        <div class="ui transparent input fluid" style="margin-bottom: 20px; ">
            <input type="text" id="Title" placeholder="需求标题..." value="@Model?.Title" style="font-size: 28px; font-weight: bold !important; " autocomplete="off">
        </div>
        <div class="context_edit">
            @Html.Raw(Model?.Detailes.FirstOrDefault(c => c.Version == Model.NowVersion).Content)
        </div>
    </div>
</div>
<script>
    var modal_action = {
        edit_obj: null,
        EmergencyLevel: $('#EmergencyLevel'),
        init: () => {
            modal_action.edit();
            modal_action.EmergencyLevel.rating({
                onRate: (value) => {
                    modal_action.EmergencyLevel.removeClass('green olive yellow orange red grey');
                    switch (value) {
                        case 1:
                            modal_action.EmergencyLevel.addClass('green');
                            break;
                        case 2:
                            modal_action.EmergencyLevel.addClass('olive');
                            break;
                        case 3:
                            modal_action.EmergencyLevel.addClass('yellow');
                            break;
                        case 4:
                            modal_action.EmergencyLevel.addClass('orange');
                            break;
                        case 5:
                            modal_action.EmergencyLevel.addClass('red');
                            break;
                    }
                }
            }).rating('set rating', modal_action.EmergencyLevel.rating('get rating'));
        },
        edit: function () {
            modal_action.edit_obj = new editor('.context_edit', {
                edit: true,
                upload: {
                    url: '/Home/UPload',
                    success: (result) => { },
                    error: (error) => { }
                }
            });
        },
        save: () => {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                var data = $(target).parent().parent().children('.content.scrolling.edit').getdata();
                data.Content = modal_action.edit_obj.get();
                ajax.post('/Requirement/Save', data, () => { $(target).load_show(); }, (success, data) => {
                    $(target).load_hide();
                    if (success && data.Success) {
                        window.location.reload();
                    }
                });
            }
        }
    };
    modal_action.init();
</script>
<div class="actions">
    <button class="ui labeled icon button teal left floated" onclick="modal_action.save()">
        <i class="save icon"></i>
        发布
    </button>
    <button class="ui button cancel black">关闭</button>
</div>