@{
    ViewData["Title"] = Model == null ? "新增需求" : "编辑需求：" + Model.Title;
}
@model TMT_Requirements
<link href="~/edit/edit.css" rel="stylesheet" />
<script src="~/edit/edit.js"></script>
<div class="document_body">
    <div class="left">
        <input type="hidden" id="RequirementID" value="@Model?.RequirementID" />
        <div class="ui transparent input fluid" style="margin-bottom: 20px; ">
            @if (Model != null && Model.Status != DBEnums.RequirementStatus.驳回)
            {
                <input type="text" id="Title" placeholder="需求标题..." readonly="readonly" value="@Model?.Title" style="font-size: 28px; font-weight: bold !important; " autocomplete="off">
            }
            else
            {
                <input type="text" id="Title" placeholder="需求标题..." value="@Model?.Title" style="font-size: 28px; font-weight: bold !important; " autocomplete="off">
            }

        </div>
        <div class="context_edit">
            @Html.Raw(Model?.Detailes.FirstOrDefault(c => c.Version == Model.NowVersion).Content)
        </div>
    </div>
    <div class="right">
        <div class="ui form tiny">
            <div class="field">
                <label>优先级</label>
                @if (ViewBag.IsDraftEdit)
                {
                    <div class="ui grey rating" id="EmergencyLevel" data-icon="star" data-rating="@(Model==null?1:Model.EmergencyLevel)" data-max-rating="5"></div>
                }
                else
                {
                    <div class="ui disabled rating" id="EmergencyLevel" data-icon="star" data-rating="@(Model==null?1:Model.EmergencyLevel)" data-max-rating="5"></div>
                }
            </div>
            <div class="field">
                <label>项目</label>
                <div class="ui label basic">
                    <i class="briefcase icon"></i> @G.NowProject.ProjectName
                </div>
            </div>
            <div class="field">
                <label>类型</label>
                @if (ViewBag.IsDraftEdit)
                {
                    <SelectEnums Fluid="false" Clearable="false" Default="@(Model==null?-1:(int)Model.MType)" ID="MType" Width="80" Enum="typeof(DBEnums.MType)"></SelectEnums>
                }
                else
                {
                    <div class="ui label basic">
                        @Model.MType
                    </div>
                }
            </div>
            <div class="field">
                <label>模块</label>
                @if (ViewBag.IsDraftEdit)
                {
                    <div class="ui selection dropdown" style="width: 200px;">
                        <input type="hidden" id="ModuleID" value="@Model?.ModuleID">
                        <div class="default text"></div>
                        <div class="menu">
                            @foreach (var item in G.NowProject.Modules)
                            {
                                <div class="item" data-value="@item.ModuleID">@item.ModuleName</div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="ui label basic">
                        @Model.Module.ModuleName
                    </div>
                }
            </div>
            <div class="field">
                <label>评审</label>
                @if (ViewBag.IsDraftEdit)
                {
                    <SelectUsers Fluid="false" Width="150" Placeholder="选择评审人" Clearable="false" ID="AuditorUserID" Default="Model?.AuditorUserID"></SelectUsers>
                }
                else
                {
                    <div class="ui image label basic">
                        <img src="@Model.AuditorUser.Avatar">
                        @Model.AuditorUser.UserName
                    </div>
                }
            </div>

            <div class="field">
                <button class="ui tiny blue button" onclick="page_action.save()">
                    <i class="save icon"></i>
                    保存
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var page_action = {
        edit_obj: null,
        EmergencyLevel: $('#EmergencyLevel'),
        init: () => {
            page_action.edit_obj = new editor('.context_edit', {
                edit: true,
                upload: {
                    url: '/Home/UPload',
                    success: (result) => { },
                    error: (error) => { }
                }
            });
            page_action.EmergencyLevel.rating({
                onRate: (value) => {
                    page_action.EmergencyLevel.removeClass('green olive yellow orange red grey');
                    switch (value) {
                        case 1:
                            page_action.EmergencyLevel.addClass('green');
                            break;
                        case 2:
                            page_action.EmergencyLevel.addClass('olive');
                            break;
                        case 3:
                            page_action.EmergencyLevel.addClass('yellow');
                            break;
                        case 4:
                            page_action.EmergencyLevel.addClass('orange');
                            break;
                        case 5:
                            page_action.EmergencyLevel.addClass('red');
                            break;
                    }
                }
            }).rating('set rating', page_action.EmergencyLevel.rating('get rating'));
        },
        save: () => {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                var data = $(target).parents('.document_body').getdata();
                data.Content = page_action.edit_obj.get();
                ajax.post('/Requirement/Save', data, () => { $(target).load_show(); }, (success, data) => {
                    $(target).load_hide();
                    if (success && data.Success) {
                        window.location.href = "/Requirement/View?RequirementID=" + data.Result;
                    }
                });
            }
        }
    };
    page_action.init();
</script>