@{
    ViewData["Title"] = "新增需求";
}
@model TMT_Requirements
<style>
    .context_box { flex: 1; overflow: hidden; display: flex; flex-direction: row; }
    .context_box > .cleft { border-radius: 4px; flex: 1; overflow-x: hidden; overflow-y: auto; height: 100%; float: left; background: #fff; padding: 40px; border: 1px solid #e8e8e8; box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08); }
    .context_box > .cright { border-radius: 4px; width: 300px; overflow-x: hidden; overflow-y: auto; height: 100%; float: left; margin-left: 20px; padding: 20px; background: #fff; border: 1px solid #e8e8e8; box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08); }
    .strbox p { margin-bottom: 1px !important }
</style>
<div class="context_box">
    <div class="cleft">
        <h1 class="ui header">
            @Model.Title
        </h1>
        <div class="strbox">
            @Html.Raw(Model.Detailes.FirstOrDefault(c => c.Version == Model.NowVersion).Content)
        </div>
    </div>
    <div class="cright">
        <div class="ui form tiny">
            @if (Model.Status != DBEnums.RequirementStatus.归档)
            {
                <div class="field">
                    <div class="ui buttons icon  blue compact">
                        @if ((Model.Status == DBEnums.RequirementStatus.草稿 || Model.Status == DBEnums.RequirementStatus.拒绝 || Model.Status == DBEnums.RequirementStatus.通过) && Model.CreateUserID == G.User.UserID)
                        {
                            <a class="ui button" href="/Requirement/Add?RequirementID=@Model.RequirementID"><i class="edit icon"></i></a>
                        }
                        @if (Model.Status == DBEnums.RequirementStatus.待审 && Model.AuditorUserID == G.User.UserID)
                        {
                            <button class="ui button" onclick="modal.load('/Requirement/Review?RequirementID=@Model.RequirementID',400)"><i class="hard hat icon"></i></button>
                        }
                        @if (Model.Status == DBEnums.RequirementStatus.通过 && Model.CreateUserID == G.User.UserID)
                        {
                            <button class="ui button" onclick="page_action.sealUP('@Model.RequirementID')"><i class="archive icon"></i></button>
                            <a class="ui button" href="/Tasks/Add?RequirementID=@Model.RequirementID"><i class="plus square icon"></i></a>
                        }
                    </div>
                </div>
            }
            <div class="field inline">
                <label>优先级</label>
                <div style="margin-top:7px;" class="ui rating disabled" id="EmergencyLevel" data-icon="star" data-rating="@Model.EmergencyLevel" data-max-rating="5"></div>
            </div>
            @if (Model.Status != DBEnums.RequirementStatus.草稿)
            {
                <div class="field inline">
                    <label>版本</label>
                    <div class="ui inline dropdown" id="setVersion" style="width:80px;">
                        <input type="hidden" value="@Model.NowVersion">

                        <div class="default text"></div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            @foreach (var item in Model.Detailes)
                            {
                                <div class="item" data-value="@item.Version"># @(item.Version)</div>
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="field inline">
                <label>项目</label>
                <div class="ui label basic">
                    <i class="briefcase icon"></i> @G.NowProject.ProjectName
                </div>
            </div>
            <div class="field inline">
                <label>评审</label>
                <div class="ui image label basic">
                    <img src="@Model.AuditorUser.Avatar">
                    @Model.AuditorUser.UserName
                </div>
            </div>
            <div class="field inline">
                <label>模块</label>
                <div class="ui label basic">
                    @Model.Module.ModuleName
                </div>
            </div>
        </div>
        @if (Model.Tasks.Count > 0)
        {
            <div class="ui horizontal divider">
                <i class="tasks icon"></i>
                相关任务
            </div>
            <div class="ui list tiny">
                @foreach (var item in Model.Tasks)
                {
                    <a class="item">@item.Title</a>
                }
            </div>
        }
        @if (Model.Status != DBEnums.RequirementStatus.草稿)
        {
            <div class="ui horizontal divider">
                <i class="history icon"></i>
                历史记录
            </div>
            <div class="ui comments mini">
                @foreach (var item in Model.Logs)
                {
                    <div class="comment">
                        <a class="avatar">
                            <img src="@item.TriggerUser.Avatar">
                        </a>
                        <div class="content">
                            <a class="author">@item.TriggerUser.UserName</a>
                            <div class="metadata">
                                <span class="date">@item.CreateDate</span>
                            </div>
                            <div class="text">
                                @Html.Raw(item.Content)
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<script>
    var page_action = {
        init: function () {
            $('#EmergencyLevel').rating({
                onRate: function (value) {
                    $(this).removeClass('green olive yellow orange red');
                    switch (value) {
                        case 1:
                            $(this).addClass('green');
                            break;
                        case 2:
                            $(this).addClass('olive');
                            break;
                        case 3:
                            $(this).addClass('yellow');
                            break;
                        case 4:
                            $(this).addClass('orange');
                            break;
                        case 5:
                            $(this).addClass('red');
                            break;
                    }
                }
            }).rating('set rating', $('#EmergencyLevel').rating('get rating'));;
            $('#setVersion').dropdown({
                onChange: function (value, text, $choice) {
                    window.location.href = "/Requirement/View?RequirementID=@Model.RequirementID&Version=" + value;
                }
            });
        },
        sealUP: function (id) {
            modal.ask('确认归档此需求？', function () {
                ajax.post('/Requirement/SealUP', { RequirementID: id }, null, function (s, d) {
                    if (s && d.Success) {
                        window.location.reload();
                    }
                });
            });
        }
    };
    page_action.init();
</script>