@{
    Layout = null;
}
@model TMT_Requirements
<div class="header">
    <i class="file alternate outline icon"></i>
    @Model?.Title
</div>
<div class="content scrolling edit">
    <div class="ui form tiny" style="width: 900px; margin: 0px auto ;margin-top:10px;">
        <div class="inline fields">
            <div class="field">
                <label>优先级</label>
                <div class="ui grey rating disabled" id="EmergencyLevel" data-icon="star" data-rating="@(Model==null?1:Model.EmergencyLevel)" data-max-rating="5"></div>
            </div>
            <div class="field">
                <label>项目</label>
                <div class="ui label basic">
                    <i class="briefcase icon"></i> @G.NowProject.ProjectName
                </div>
            </div>
            <div class="field">
                <label>评审</label>
                <div class="ui image label basic">
                    <img src="@Model.AuditorUser.Avatar">
                    @Model.AuditorUser.UserName
                </div>
            </div>
            <div class="field">
                <label>模块</label>
                <div class="ui label basic">
                    @Model.Module.ModuleName
                </div>
            </div>
            <div class="field">
                <label>版本</label>
                <div class="ui inline dropdown" id="setVersion">
                    <input type="hidden" value="@Model.NowVersion">
                    <div class="default text"></div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        @foreach (var item in Model.Detailes)
                        {
                            <div class="item" data-value="@item.Version"># @(item.Version)</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="context_con">
        <div class="ui horizontal divider">
            <i class="tasks icon"></i>
            需求内容
        </div>
        <div class="context_edit">
            @Html.Raw(Model.Detailes.FirstOrDefault(c => c.Version == Model.NowVersion).Content)
        </div>
        <div class="ui horizontal divider">
            <i class="tasks icon"></i>
            相关任务
        </div>
        @if (Model.Tasks.Count > 0)
        {
            <div class="ui list small">
                @foreach (var item in Model.Tasks)
                {
                    <div class="item">
                        <img class="ui avatar image" src="@item.ExecutorUser.Avatar">
                        <div class="content">
                            <span class="header">@item.ExecutorUser.UserName</span>
                            <div class="description">
                                @switch (item.Status)
                                {
                                    case DBEnums.TasksStatus.进行:
                                        <i class="icon caret square right teal" style="font-size: 14px;margin: 0px;" title="@item.Status"></i>
                                        break;
                                    case DBEnums.TasksStatus.完成:
                                        <i class="icon check square green" style="font-size: 14px;margin: 0px;" title="@item.Status"></i>
                                        break;
                                    case DBEnums.TasksStatus.取消:
                                        <i class="icon window close red" style="font-size: 14px;margin: 0px;" title="@item.Status"></i>
                                        break;
                                }
                                @item.Title
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <span class="ui grey text">无</span>
        }
    <div class="ui horizontal divider">
        <i class="history icon"></i>
        处理记录
        <a class="ui label teal">
            <i class="plus icon"></i> 新增备注
        </a>
    </div>
        @if (Model.Logs.Count > 0)
        {
            <div class="ui comments mini">
                @foreach (var item in Model.Logs)
                {
                    <div class="comment">
                        <a class="avatar">
                            <img src="@item.TriggerUser.Avatar">
                        </a>
                        <div class="content">
                            <a class="author">@item.TriggerUser.UserName</a>
                            <div class="metadata">
                                <span class="date">@item.CreateDate</span>
                            </div>
                            <div class="text">
                                @Html.Raw(item.Content)
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <span class="ui grey text">无</span>
        }
    </div>
</div>
<script>
    var modal_action = {
        edit_obj: null,
        EmergencyLevel: $('#EmergencyLevel'),
        init: function () {
            modal_action.EmergencyLevel.rating({
                onRate: (value) => {
                    modal_action.EmergencyLevel.removeClass('green olive yellow orange red grey');
                    switch (value) {
                        case 1:
                            modal_action.EmergencyLevel.addClass('green');
                            break;
                        case 2:
                            modal_action.EmergencyLevel.addClass('olive');
                            break;
                        case 3:
                            modal_action.EmergencyLevel.addClass('yellow');
                            break;
                        case 4:
                            modal_action.EmergencyLevel.addClass('orange');
                            break;
                        case 5:
                            modal_action.EmergencyLevel.addClass('red');
                            break;
                    }
                }
            }).rating('set rating', modal_action.EmergencyLevel.rating('get rating'));
            modal_action.edit_obj = new editor('.context_edit', {
                edit: false,
                upload: {
                    url: '/Home/UPload',
                    success: (result) => { },
                    error: (error) => { }
                }
            });
            $('#setVersion').dropdown({
                onChange: function (value, text, $choice) {
                    window.location.href = "/Requirement/View?RequirementID=@Model.RequirementID&Version=" + value;
                }
            });
        },
        sealUP: function (id) {
            modal.ask('确认归档此需求？', function () {
                ajax.post('/Requirement/SealUP', { RequirementID: id }, null, function (s, d) {
                    if (s && d.Success) {
                        window.location.reload();
                    }
                });
            });
        }
    };
    modal_action.init();
</script>
<div class="actions">
    <button class="ui labeled icon button teal left floated" onclick="modal_action.save()">
        <i class="save icon"></i>
        发布
    </button>
    <button class="ui button cancel black">关闭</button>
</div>