@{
    ViewData["Title"] = Model == null ? "新增测试" : "编辑测试：" + Model.Title;
}
@model TMT_Bug
<style>
    .req_document_set { margin-bottom: 15px; }
    .req_document_set > .ui.dropdown { width: 810px; }
    .req_document_set > .ui.dropdown > .menu { min-width: 810px; }
    .req_document_set > .ui.dropdown .default.text { font-weight: normal; }
    .req_document_set > .ui.dropdown .text { font-weight: normal; }
</style>
<link href="~/edit/edit.css" rel="stylesheet" />
<script src="~/edit/edit.js"></script>
<div class="document_body">
    <div class="left">
        <input type="hidden" id="BugID" value="@Model?.BugID" />
        <div class="req_document_set">
            <div class="ui tiny search clearable dropdown selection compact@(ViewBag.IsDraftEdit?"":" disabled")">
                <input type="hidden" id="TaskID" value="@Model?.TaskID" />
                <div class="default text">选择关联任务</div>
                <div class="menu">
                    <div class="item" data-value="-1">不关联需求</div>
                    @foreach (TMT_Tasks item in ViewBag.Tasks)
                    {
                        <div class="item" data-executoruserid="@item.ExecutorUserID" data-title="@item.Title" data-mtype="@((int)item.MType)" data-emergencylevel="@item.EmergencyLevel" data-moduleid="@item.ModuleID" data-value="@item.TaskID">@item.Title</div>
                    }
                </div>
            </div>
        </div>
        <div class="ui transparent input fluid" style="margin-bottom: 20px; ">
            @if (ViewBag.IsDraftEdit)
            {
                <input type="text" id="Title" placeholder="任务标题..." value="@Model?.Title" style="font-size: 28px; font-weight: bold !important; " autocomplete="off">
            }
            else
            {
                <input type="text" id="Title" placeholder="任务标题..." readonly="readonly" value="@Model?.Title" style="font-size: 28px; font-weight: bold !important; " autocomplete="off">
            }
        </div>
        <div class="context_edit">
            @Html.Raw(Model?.Content)
        </div>
    </div>
    <div class="right">
        <div class="ui form tiny">
            <div class="field">
                <label>优先级</label>
                @if (ViewBag.IsDraftEdit)
                {
                    <div class="ui rating" id="EmergencyLevel" data-icon="star" data-rating="@(Model==null?1:Model.EmergencyLevel)" data-max-rating="5"></div>
                }
                else
                {
                    <div class="ui disabled rating" id="EmergencyLevel" data-icon="star" data-rating="@(Model==null?1:Model.EmergencyLevel)" data-max-rating="5"></div>
                }
            </div>
            <div class="field">
                <label>项目</label>
                <div class="ui label basic">
                    <i class="briefcase icon"></i> @G.NowProject.ProjectName
                </div>
            </div>
            <div class="field">
                <label>类型</label>
                @if (ViewBag.IsDraftEdit)
                {
                    <SelectEnums Default="@Model?.MType" ID="MType" Enum="typeof(DBEnums.MType)"></SelectEnums>
                }
                else
                {
                    <div class="ui label basic">
                        @Model.MType
                    </div>
                }
            </div>
            <div class="field">
                <label>模块</label>
                @if (ViewBag.IsDraftEdit)
                {
                    <div class="ui selection dropdown">
                        <input type="hidden" id="ModuleID" value="@Model?.ModuleID">
                        <div class="default text"></div>
                        <div class="menu">
                            @foreach (var item in G.NowProject.Modules)
                            {
                                <div class="item" data-value="@item.ModuleID">@item.ModuleName</div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="ui label basic">
                        @Model.Module.ModuleName
                    </div>
                }
            </div>
            <div class="field">
                <label>负责人</label>
                @if (ViewBag.IsDraftEdit)
                {
                    <SelectUsers Default="Model?.ExecutorUserID" ID="ExecutorUserID"></SelectUsers>
                }
                else
                {
                    <div class="ui image label basic">
                        <img src="@Model.ExecutorUser.Avatar">
                        @Model.ExecutorUser.UserName
                    </div>
                }
            </div>
            <div class="field">
                <button class="ui tiny blue button" onclick="page_action.save()">
                    <i class="save icon"></i>
                    保存
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var page_action = {
        edit_obj: null,
        EmergencyLevel: $('#EmergencyLevel'),
        req_document_set_dropdown: $('.req_document_set>.ui.dropdown'),
        init: () => {
            page_action.req_document_set_dropdown.attr('tabindex', 0);
            page_action.req_document_set_dropdown.dropdown({
                onChange: (value, text, $choice) => {
                    if ($choice && $choice.data('value') == -1) {
                        page_action.req_document_set_dropdown.dropdown('restore defaults')
                    }
                    else if ($choice) {
                        page_action.EmergencyLevel.rating('set rating', $choice.data('emergencylevel'));
                        $('#ModuleID').parent().dropdown('set selected', $choice.data('moduleid'));
                        $('#ExecutorUserID').parent().dropdown('set selected', $choice.data('executoruserid'));
                        $('#MType').parent().dropdown('set selected', $choice.data('mtype'));
                        if ($('#Title').val() === '') {
                            $('#Title').val($choice.data('title'));
                        }
                    }
                }
            });
            page_action.edit_obj = new editor('.context_edit', {
                edit: true,
                upload: {
                    url: '/Home/UPload',
                    success: (result) => { },
                    error: (error) => { }
                }
            });
            page_action.EmergencyLevel.rating({
                onRate: (value) => {
                    page_action.EmergencyLevel.removeClass('green olive yellow orange red grey');
                    switch (value) {
                        case 1:
                            page_action.EmergencyLevel.addClass('green');
                            break;
                        case 2:
                            page_action.EmergencyLevel.addClass('olive');
                            break;
                        case 3:
                            page_action.EmergencyLevel.addClass('yellow');
                            break;
                        case 4:
                            page_action.EmergencyLevel.addClass('orange');
                            break;
                        case 5:
                            page_action.EmergencyLevel.addClass('red');
                            break;
                    }
                }
            }).rating('set rating', page_action.EmergencyLevel.rating('get rating'));
        },
        save: () => {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                var data = $(target).parents('.document_body').getdata();
                data.Content = page_action.edit_obj.get();
                ajax.post('/Bug/Save', data, () => { $(target).load_show(); }, (success, data) => {
                    $(target).load_hide();
                    if (success && data.Success) {
                        window.location.href = "/Bug/View?BugID=" + data.Result;
                    }
                });
            }
        }
    };
    page_action.init();
</script>
