@{
    Layout = "_Layout";
}
<div class="menubox">
    <div class="ui secondary inverted menu small">
        <div class="item fitted">
            <i class="icon spider inverted big"></i>
        </div>
        <a class="item@(G.Request.ControllerName=="Home"?" active":"")" href="/">
            <i class="home icon"></i>
            首页
        </a>
        <a class="item@(G.Request.ControllerName=="Requirement"?" active":"")" href="/Requirement/Index">
            <i class="file alternate icon"></i>
            需求
        </a>
        <a class="item@(G.Request.ControllerName=="Tasks"?" active":"")" href="/Tasks/Index">
            <i class="tasks icon"></i>
            任务
        </a>
        <a class="item@(G.Request.ControllerName=="Bug"?" active":"")" href="/BUG/Index">
            <i class="bug icon"></i>
            测试
        </a>
        <a class="item@(G.Request.ControllerName=="Document"?" active":"")" href="/Document/Index">
            <i class="file alternate outline icon"></i>
            文档
        </a>
        <a class="item@(G.Request.ControllerName=="Code"?" active":"")" href="/Code/Index">
            <i class="code icon"></i>
            源码
        </a>
        <div class="ui dropdown item">
            <i class="settings icon"></i>
            设置
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/Setting/Users">
                    <i class="users icon"></i>
                    用 户
                </a>
                <a class="item" href="/Setting/Roles">
                    <i class="user tag icon"></i>
                    角 色
                </a>
                <a class="item" href="/Setting/Projects">
                    <i class="briefcase icon"></i>
                    项目
                </a>
            </div>
        </div>
        <div class="right menu">
            <div class="ui floating dropdown labeled icon button orange projectset">
                <i class="briefcase icon"></i>
                <span class="text">@(G.NowProject==null? "选择默认项目" : G.NowProject.ProjectName)</span>
                <div class="menu">
                    @foreach (var item in G.UsableProject)
                    {
                        <div class="item" data-value="@item.ProjectID">@item.ProjectName</div>
                    }
                </div>
            </div>
            <div class="ui dropdown item fitted userinfo">
                <div class="ui comments">
                    <div class="comment">
                        <div class="avatar">
                            <img src="@G.User.Avatar">
                        </div>
                        <div class="content">
                            <div class="author">@G.User.UserName</div>
                            <div class="text">
                                @G.User.RoleName
                            </div>
                        </div>
                    </div>
                </div>
                <i class="dropdown icon"></i>
                <div class="menu" style="width:80px;">
                    <a class="item" href="/Setting/Users">
                        <i class="setting icon"></i>
                        设置
                    </a>
                    <a class="item" href="/Home/Logout">
                        <i class="power off icon"></i>
                        退出
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Context">
    @RenderBody()
</div>