@{
    Layout = "_Layout";
}
<div class="menubox">
    <div class="blurring dimmable">
        <div class="info">
            <img class="avatar" src="@G.User.Avatar" />
            <h5 class="ui header">
                @G.User.UserName
                <span class="sub header">@G.User.RoleName</span>
            </h5>
            <div class="ui dimmer">
                <div class="content">
                    <button class="ui button teal tiny">
                        <i class="setting icon"></i>
                        设置
                    </button>
                    <a class="ui button red tiny" href="/Home/Logout">
                        <i class="power icon"></i>
                        退出
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted divider" style="margin-top:0;"></div>
    <div class="pro_set">
        <div class="ui floating labeled icon dropdown button orange fluid projectset">
            <i class="briefcase icon"></i>
            <span class="text">@(string.IsNullOrWhiteSpace(G.NowProject?.ProjectName)? "选择默认项目" : G.NowProject?.ProjectName)</span>
            <div class="menu">
                @foreach (var item in G.UsableProject)
                {
                    <div class="item" data-value="@item.ProjectID">@item.ProjectName</div>
                }
            </div>
        </div>
    </div>
    <div class="menulist">
        <ul>
            <li>
                <a href="/">
                    <i class="home icon"></i>
                    首 页
                </a>
            </li>
            <li>
                <a href="/Requirement/Index">
                    <i class="file alternate icon"></i>
                    需 求
                </a>
            </li>
            <li>
                <a href="/Tasks/Index">
                    <i class="tasks icon"></i>
                    任 务
                </a>
            </li>
            <li>
                <a href="/Version/Index">
                    <i class="code branch icon"></i>
                    版 本
                </a>
            </li>
            <li>
                <a href="/Test/Index">
                    <i class="bug icon"></i>
                    测 试
                </a>
            </li>
            <li>
                <a href="/Document/Index">
                    <i class="file alternate outline icon"></i>
                    文 档
                </a>
            </li>
            <li>
                <a href="/Code/Index">
                    <i class="code icon"></i>
                    源 码
                </a>
            </li>
        </ul>
        <div class="ui left pointing dropdown icon button fluid sets">
            <i class="settings icon" style=" margin-right: 10px !important; "></i>设 置
            <i class="caret right icon"></i>
            <div class="menu">
                <a class="item" href="/Setting/Users">
                    <i class="users icon"></i>
                    用 户
                </a>
                <a class="item" href="/Setting/Roles">
                    <i class="user tag icon"></i>
                    角 色
                </a>
                <a class="item" href="/Setting/Projects">
                    <i class="briefcase icon"></i>
                    项目
                </a>
            </div>
        </div>
    </div>
</div>
<div class="Context">
    @RenderBody()
</div>