@{
    var ColumnStr = "";
    switch (Model.Columns)
    {
        case 3:
            ColumnStr = "three column";
            break;
        case 4:
            ColumnStr = "four column";
            break;
        case 5:
            ColumnStr = "five column";
            break;
    }
}
@model SelectModel

@if (Model.Columns > 0)
{
    <select class="ui @(Model.Fluid?"fluid":"") search @ColumnStr dropdown" multiple="" id="@Model.ID">
        @if (Model.GetType() == typeof(Web.SelectUsersTagHelper))
        {
            var TModel = (Web.SelectUsersTagHelper)Model;
            foreach (var item in TModel.Items)
            {
                <option value="@item.Item1">@item.Item2</option>
            }
        }
    </select>
}
else
{
    <div class="ui @(Model.Fluid?"fluid":"") selection @(Model.Search ? "search" : "") dropdown @(Model.Clearable ? "clearable" : "") @(Model.Multiple ? "multiple" : "") @Model.Class" @(Model.Width > 0 ? Html.Raw(string.Format("style=\"width:{0}px !important;\"", Model.Width)) : Html.Raw(""))>
        <input type="hidden" id="@Model.ID" value="@Model.Default">
        <div class="default text">@Model.Placeholder</div>
        <div class="menu">
            @if (Model.GetType() == typeof(Web.SelectRolesTagHelper) || Model.GetType() == typeof(Web.SelectEnumsTagHelper))
            {
                foreach (var item in Model.Items)
                {
                    <div class="item" data-value="@item.Value">@item.Key</div>
                }
            }
            else if (Model.GetType() == typeof(Web.SelectAvatarsTagHelper))
            {
                foreach (var item in Model.Items)
                {
                    <div class="item" data-value="@item.Value">
                        <img class="ui avatar image" src="@item.Value">
                        @item.Key
                    </div>
                }
            }
            else if (Model.GetType() == typeof(Web.SelectUsersTagHelper))
            {
                var TModel = (Web.SelectUsersTagHelper)Model;
                foreach (var item in TModel.Items)
                {
                    <div class="item" data-value="@item.Item1">
                        <img class="ui avatar image" src="@item.Item3">
                        @item.Item2
                    </div>
                }
            }
        </div>
    </div>
}