@{
    var MTP = Model.GetType();
}
@model SelectModel
@if (MTP == typeof(Web.SelectUsersTagHelper) && Model.Columns > 0)
{
    <select class="ui dropdown @Model.Class" id="@Model.ID">
        @if (Model.GetType() == typeof(Web.SelectUsersTagHelper))
        {
            var TModel = (Web.SelectUsersTagHelper)Model;
            foreach (var item in TModel.Items)
            {
                <option value="@item.Item1">@item.Item2</option>
            }
        }
    </select>
}
else
{
    <div class="ui dropdown selection @Model.Class" @Html.Raw(Model.Style)>
        <input type="hidden" id="@Model.ID" value="@Model.Default">
        <div class="default text">@Model.Placeholder</div>
        <div class="menu">
            @if (MTP == typeof(Web.SelectRolesTagHelper) || MTP == typeof(Web.SelectEnumsTagHelper) || MTP == typeof(Web.SelectModulesTagHelper))
            {
                foreach (var item in Model.Items)
                {
                    <div class="item" data-value="@item.Value">@item.Key</div>
                }
            }
            else if (MTP == typeof(Web.SelectAvatarsTagHelper))
            {
                foreach (var item in Model.Items)
                {
                    <div class="item" data-value="@item.Value">
                        <img class="ui avatar image" src="@item.Value">
                        @item.Key
                    </div>
                }
            }
            else if (MTP == typeof(Web.SelectUsersTagHelper))
            {
                var TModel = (Web.SelectUsersTagHelper)Model;
                foreach (var item in TModel.Items)
                {
                    <div class="item" data-value="@item.Item1">
                        <img class="ui avatar image" src="@item.Item3">
                        @item.Item2
                    </div>
                }
            }

        </div>
    </div>
}