@inherits PagesModel.RedisManage
@page "/RedisManage"
<div class="ui mini menu">
    <div class="item">
        RedisManage
    </div>
    <div class="right menu">
        @if (!Connected)
        {
            <div class="ui dropdown item">
                连接 <i class="dropdown icon"></i>
                <div class="menu">
                    @foreach (var item in ConnectStrs)
                    {
                        <a class="item" @onclick="()=>Connect(item.Value)">@item.Key</a>
                    }
                </div>
            </div>
        }
        @if (Connected)
        {
            <div class="ui dropdown item">
                数据库:@DataBase.Current <i class="dropdown icon"></i>
                <div class="menu">
                    @foreach (var item in DataBase.List)
                    {
                        <a class="item @(item.Value?"active":"")" @onclick="()=>Select_Data(item.Key)">
                            @item.Key
                        </a>
                    }
                </div>
            </div>
            <div class="item">
                <div class="ui red button" @onclick="CloseConnect">断开连接</div>
            </div>
        }
        <div class="item">
            <div class="ui blue button">连接管理</div>
        </div>
    </div>
</div>
<div class="ui grid">
    @if (Keys.Count > 0 && Connected)
    {
        <div class="six wide column">
            <div class="ui mini vertical pointing menu fluid">
                <div class="item header">
                    <i class="icon tag"></i>
                    Keys:@Keys.Count
                </div>
                @foreach (var item in Keys.List)
                {
                    <a class="item @(item.Value?"active":"")" @onclick="()=>Select_Key(item.Key)">
                        @item.Key
                    </a>
                }
            </div>
        </div>
    }
    <div class="seven wide column">3</div>
</div>